<meta charset="UTF-8">
<title>Meus materias a serem estudados</title>
 
<link rel="stylesheet" href="style.css">

#subtitulo{
    font-size: 24px; 
    background-color: #00FFFF; 
    color: #FF00FF;
    text-align: center;
}

#abjuracao{
  font-size: 16px;
  background-color: #85632f;
  color: #f1d119;
  text-align: center;
}

#evocacao{
  font-size: 16px;
  background-color: #321e06;
  color: #d93656;
  text-align: center;
}

#ilusao{
  font-size: 16px;
  background-color: #18e6c5;
  color: #f3fffd;
  text-align: center;
}

#necromancia{
  font-size: 16px;
  background-color: #2a0303;
  color: #8931c6;
  text-align: center;
}

#transmutacao{
  font-size: 16px;
  background-color: #16ad13;
  color: #258786;
  text-align: center;
}

#encantamento{
  font-size: 16px;
  background-color: #bd156c;
  color: #d77bdd;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.cabecalho-img {
  max-width: 80%;
  height: auto;
}

main.conteudo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section.texto {
  width: 60%;
  text-align: justify;
}

aside.imagens {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

aside.imagens img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

